@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50,0.8) 0%, rgb(0, 0, 0,0.7) 99.4%),url('../../../public/assets/loginback.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
  color: black;
}